*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #F0F8FC;
    color: #536870;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


.recipe-card {
    width: 350px;
    background-color: #F5FAFC;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.recipe-image {
    width: 100%;
    display: block; 
}

.recipe-content {
    padding: 25px;
}

.recipe-title {
    font-size: 1.5rem;
    color: #6B838C;
    margin-top: 0;
    margin-bottom: 10px;
}

.recipe-description {
    font-size: 1rem;
    line-height: 1.5;
    color: #7D97A1;
    margin-bottom: 0;
}